* {
  text-decoration: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto";
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid rgb(223, 11, 82); */
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

/* навігація */

.nav-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14; 
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-studio:hover, .nav-studio:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-portfolio:hover, .nav-portfolio:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-contacts:hover, .nav-contacts:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-tel:hover, .nav-tel:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-mail:hover, .nav-mail:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-list {
  display: flex;
  align-items: center;
  margin-right: 344px;
}

.header-list2 {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav-webstudiobl {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

/* Секція герой! */


.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-section {
  background: #2F303A;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: url(../img/hero-bg.webp);
  background: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/hero-bg.webp);
  padding-bottom: 200px;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}


.hero-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 40px;
  width: 216px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: none;
}


.advantage-list {
  display: flex;
  padding-top: 95px;
  padding-bottom: 94px;
  padding-right: 30px;
  gap: 30px;
}

.advantage-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
  padding-top: 30px;
}

/* секція компанії */

.company-list {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}

.team {
  background: #F5F4FA;
  padding-bottom: 93px;
  padding-top: 94px;
}

.team-item {
  background: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.company-involded {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.company-item {
  padding-top: 50px;
}

.team-list {
  display: flex;
  margin-top: 50px;
  justify-content: flex-start;
  gap: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}


.team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}

.webstudio-wh {
  color: #ffffff;
}

/* футер */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 50px;
}

.footer-list {
  margin-top: 20px;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item {
  padding-bottom: 9px;
}

.hstudio {
  margin-left: 93px;
}

.hport,
.hport,
.hcont {
  margin-left: 50px;
}

.hnum {
  margin-left: 50px;
  white-space: nowrap;
}

.team-img {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.advantage-icon::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.advantage-icon:first-child::before {
  background-image: url(../img/antenna.webp);
}

.advantage-icon:nth-child(2)::before {
  background-image: url(../img/clock.webp);
}

.advantage-icon:nth-child(3)::before {
  background-image: url(../img/diagram.webp);
}

.advantage-icon:nth-child(4)::before {
  background-image: url(../img/astronaut.webp);
}
