* {
  text-decoration: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto";
  background: #fff;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: solid red; */
}

/* навігація */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
  border-bottom: solid #ececec;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* РЅР°РІС–РіР°С†С–СЏ */

.header-page.hport::after {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 2px;
  background: #2196f3;
  display: block;
  position: absolute;
  bottom: -25px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.02, 1),
    height 250ms cubic-bezier(0.4, 0, 0.02, 1);
}

.header-page.hport:hover::after {
  width: 73px;
  height: 4px;
}

.nav-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-studio:hover,
.nav-studio:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-portfolio:hover,
.nav-portfolio:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-contacts:hover,
.nav-contacts:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-tel:hover,
.nav-tel:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-tel:focus svg {
  fill: #2196f3;
}

.nav-mail:hover {
  fill: #2196f3;
}

.nav-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-mail:hover,
.nav-mail:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-mail:focus svg {
  fill: #2196f3;
}

.nav-mail:hover svg {
  fill: #2196f3;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-list {
  display: flex;
  align-items: center;
  margin-right: 328px;
}

.header-list2 {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav-webstudiobl {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav-webstudiobl {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

/* кнопочки */

.hero-section {
  display: flex;
  padding-top: 93px;
  padding-bottom: 34px;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  height: 38px;
  width: auto;
  padding-left: 22px;
  padding-right: 22px;
  transition: cubic-bezier(0.4, 0, 0.02, 1);
  transition-duration: 250ms;
}

.hero-btn:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  color: aliceblue;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.hero-btn:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  color: aliceblue;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.webstudio-wh {
  color: #ffffff;
}

.product-list {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product-link {
  display: block;
  width: 100%;

  box-sizing: border-box;
  background: #ffffff;
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
}

.product-link:focus {
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.product-item {
  box-sizing: border-box;
  background: #ffffff;
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
  position: relative;
}

.product-item:hover {
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.product-item img {
  display: block;
  width: 100%;
  /* Other styles for the image */
}

.products {
  padding-bottom: 94px;
}
/* футер */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 50px;
}

.footer-list {
  margin-top: 20px;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item {
  padding-bottom: 9px;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
  margin-bottom: 4px;
}

.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
}

.hstudio {
  margin-left: 93px;
}

.hport,
.hport,
.hcont {
  margin-left: 50px;
}

.hnum {
  margin-left: 50px;
  white-space: nowrap;
}

.hnum,
.hmail {
  display: flex;
  align-items: center;
  fill: #757575;
}

/* .all {
  width: 73px;
  height: 38px;
}

.website {
  width: 125px;
  height: 38px;
}

.apps {
  width: 112px;
  height: 38px;
}

.design {
  width: 103px;
  height: 38px;
}

.marketing {
  width: 130px;
  height: 38px;
} */

.smartphone-svg {
  margin-right: 10px;
}

.mail-svg {
  margin-right: 10px;
}

.nav-mail,
.nav-tel {
  display: flex;
  align-items: center;
}

.social-container {
  position: relative;
  margin-left: 256px;
}

.social-svg {
  fill: #fff;
}

.social-text {
  position: absolute;
  top: -132px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.social-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  top: -102px;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 13px;
  padding-top: 12px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: cubic-bezier(0.4, 0, 0.02, 1);
  transition-duration: 250ms;
}

.social-link:hover {
  border-radius: 40px;
  cursor: pointer;
  background-color: #2196f3;
}

.social-link:focus {
  border-radius: 40px;
  cursor: pointer;
  background-color: #2196f3;
}

@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}

.product-item:focus {
  outline: none;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
  user-select: none;
}

.product-item:hover .product-overlay,
.product-item:focus-within .product-overlay {
  opacity: 1;
}

.product-item .overlay-text {
  position: absolute;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 24px;
}

.product-item:nth-child(2) .product-overlay,
.product-item:nth-child(8) .product-overlay,
.product-item:nth-child(9) .product-overlay {
  position: absolute;
  width: 100%;
  height: 300px;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  opacity: 0;
}

.product-item:nth-child(2):hover .product-overlay,
.product-item:nth-child(8):hover .product-overlay,
.product-item:nth-child(9):hover .product-overlay,
.product-item:nth-child(2):focus .product-overlay,
.product-item:nth-child(8):focus .product-overlay,
.product-item:nth-child(9):focus .product-overlay {
  opacity: 1;
  animation: scale-up-ver-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.newsletter-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 86px;
}

.newsletter-content {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 86px;
}

.newsletter-form {
  margin-bottom: 260px;
  margin-left: 1207px;
}

.input-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.newsletter-label {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.newsletter-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #fff;
}

.newsletter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-left: 12px;
  padding: 0; 
}

.newsletter-svg {
  fill: #fff;
  margin-left: 10px;
}

.product-item {
  position: relative;
}

.image-container {
  position: relative;
}

.product-img {
  display: block;
  width: 100%;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
}

.product-item:focus .product-overlay,
.product-item:hover .product-overlay {
  opacity: 1;
  animation: scale-up-ver-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
