.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-navigation {
  display: flex;
  align-items: center;
  position: relative;
}

/* навігація */

.nav-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color var(--transition-property) var(--transition-duration);
}

.nav-studio:hover,
.nav-studio:focus {
  color: var(--main-color);
}

.nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color var(--transition-property) var(--transition-duration);
}

.nav-portfolio:hover,
.nav-portfolio:focus {
  color: var(--main-color);
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color var(--transition-property) var(--transition-duration);
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--main-color);
}

.nav-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--transition-property) var(--transition-duration);
}

.nav-tel:hover,
.nav-tel:focus {
  color: var(--main-color);
}

.nav-tel:focus svg {
  fill: var(--main-color);
}

.nav-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--transition-property) var(--transition-duration);
}

.nav-mail,
.nav-tel {
  display: flex;
  align-items: center;
  transition: color var(--transition-duration) var(--transition-property);
}

.nav-mail:hover,
.nav-mail:focus {
  color: var(--main-color);
}

.nav-mail:focus svg {
  fill: var(--main-color);
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.header-list {
  display: flex;
  align-items: center;
  margin-right: 344px;
}

.header-list2 {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.nav-webstudiobl {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-page.hstudio::after {
  content: "";
  width: 0;
  height: 0;
  border-radius: 2px;
  background: var(--main-color);
  display: block;
  position: absolute;
  bottom: -25px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.02, 1),
    height 250ms cubic-bezier(0.4, 0, 0.02, 1);
}

.header-page.hstudio:hover::after {
  width: 45px;
  height: 4px;
}

.webstudio-wh {
  color: #ffffff;
}

.hstudio {
  margin-left: 93px;
}

.hport,
.hport,
.hcont {
  margin-left: 50px;
}

.hnum {
  margin-left: 50px;
  white-space: nowrap;
}

.smartphone-svg {
  margin-right: 10px;
}

.mail-svg {
  margin-right: 10px;
}

.hnum:hover {
  fill: var(--main-color);
}

.hmail:hover {
  fill: var(--main-color);
}

.hnum,
.hmail {
  display: flex;
  align-items: center;
  fill: #757575;
}
